<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="myForm">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Número de Control</ion-label>
            <ion-input formControlName="controlnumber" [value]="this.activeStudent.controlnumber"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['controlnumber']">
              <div class="errormessage" *ngIf="(myForm.get('controlnumber').dirty || 
                                                myForm.get('controlnumber').touched) && 
                                                myForm.get('controlnumber').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name" [value]="this.activeStudent.name"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['name']">
              <div class="errormessage" *ngIf="(myForm.get('name').dirty || myForm.get('name').touched) &&
                      myForm.get('name').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Curp</ion-label>
            <ion-input formControlName="curp"  [value]="this.activeStudent.curp"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['curp']">
              <div class="errormessage" *ngIf="(myForm.get('curp').dirty || myForm.get('curp').touched) &&
                                myForm.get('curp').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Edad</ion-label>
            <ion-input formControlName="edad" type="number" [value]="this.activeStudent.age"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['edad']">
              <div class="errormessage" *ngIf="(myForm.get('edad').dirty || myForm.get('edad').touched) &&
                                      myForm.get('edad').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">NIP</ion-label>
            <ion-input formControlName="nip" type="number" [value]="this.activeStudent.nip"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['nip']">
              <div class="errormessage" *ngIf="(myForm.get('nip').dirty || myForm.get('nip').touched) &&
                                                  myForm.get('nip').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" [value]="this.activeStudent.email"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['email']">
              <div class="errormessage" *ngIf="(myForm.get('email').dirty || myForm.get('email').touched) &&
                                                  myForm.get('email').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-select placeholder="Carrera" formControlName="career" [value]="this.activeStudent.career">
                <ion-select-option value="ISC">ISC</ion-select-option>
                <ion-select-option value="IBQ">IBQ</ion-select-option>
                <ion-select-option value="IC">IC</ion-select-option>
                <ion-select-option value="ARQ">ARQ</ion-select-option>
                <ion-select-option value="IE">IE</ion-select-option>
              </ion-select>
            </ion-item>
            <div>
              <ng-container *ngFor="let item of validationMessages['career']">
                <div class="errormessage" *ngIf="(myForm.get('career').dirty || myForm.get('career').touched) &&
                                                    myForm.get('career').hasError(item.type)">
                  {{item.message}}
                </div>
              </ng-container>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Foto</ion-label>
            <ion-input formControlName="photo" [value]="this.activeStudent.photo"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['photo']">
              <div class="errormessage" *ngIf="(myForm.get('photo').dirty || myForm.get('photo').touched) &&
                                                        myForm.get('photo').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </form>
    <ion-button expand="block" color="tertiary" (click)="updateStudent()">
      <ion-icon name="refresh"></ion-icon>
    </ion-button>
  </ion-grid>
</ion-content>